@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.category{
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 320px;
    height: 100%;

    font-family: 'Open Sans';

    flex-shrink: 0;
}

.categoryContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding-top: 10px;
    overflow-y: scroll;
}

.categoryContent::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}

.categoryContent::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

.categoryContent::-webkit-scrollbar-thumb {
    background-color: rgba(133, 142, 161, 0.201);    /* color of the scroll thumb */
    border-radius: 12px;       /* roundness of the scroll thumb */

    width: 12px;   
}

.category h2{
    height: 40px;
    
    padding-left: 5px;
    margin-bottom: 10px;
}

.category h2::after{
    content: '';
    display: block;

    width: 50%;
    height: 3px;

    background-color: black;
    border-radius: 5px;

    transform: translateX(50%);
}

.category ul{
    list-style: none;
}

.more{
    display: flex;
    align-items: center;

    width: 140px;
    height: 35px;

    background-color: white;
    border-radius: 50px;

    box-shadow: 0 0 5px rgba(54, 53, 53, 0.484);

    font-family: 'Open Sans';
    font-size: 15px;

    margin: 10px 0;
    cursor: pointer;

    flex-shrink: 0;
}

.more svg{
    margin: 0 7px;
    font-size: 22px;

    color: rgb(54, 59, 61);
    cursor: pointer;
}

.trashCategory{
    position: absolute;
    top: 10px;
    right: 30px;

    background-color: transparent;
    color: rgba(90, 84, 84, 0.51);

    font-size: 20px;

    border: none;
    outline: none;

    cursor: pointer;

    transition: .5s ease;
}

.trashCategory:hover{
    color: black;
}